@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

main{
    display: flex;
    max-height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
    justify-content: center;
}

.login-logo{
    width: 130px;
    margin-bottom: 32px;
}

.login-title{
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 24px;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-label{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.login-form-input{
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 20px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.login-form-label span{
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.login-form-input:focus{
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login-form-label .login-form-active{
    font-size: 0.69em;
    margin: 8px 12px;
}

.login-icons{
    display: flex;
    gap: 13px;
    width: 100%;
    margin-top: 12px;
}

.login-icons-button{
    width: 33.33%;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icons .login-icons-button:nth-child(1){
    background-color: var(--blue);
}

.login-icons .login-icons-button:nth-child(1):hover{
    background-color: var(--blue-light);
    transition: all 200ms ease-in;
}

.login-icons .login-icons-button:nth-child(2){
    background-color: var(--light-grey);
}

.login-icons .login-icons-button:nth-child(2):hover{
    background-color: var(--light-grey-hover);
    transition: all 200ms ease-in;
}

.login-icons .login-icons-button:nth-child(3){
    background-color: var(--black);
}

.login-icons .login-icons-button:nth-child(3):hover{
    background-color: var(--black-hover);
    transition: all 200ms ease-in;
}

.login-icons .login-icons-button img{
    width: 20px;
}

.login-form-label-checkbox{
    width: 100%;
    margin: 15px 0 32px;
    font-size: 0.89em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.login-form-input-checkbox{
    appearance: none;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: var(--light-grey);
}

.login-form-input-checkbox:checked{
    background-color: var(--red);

}

.login-form-input-checkbox:checked:after{
    content: '';
    width: 6px;
    height: 11px;
    border: 3px solid var(--white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 1px 7px;
    display: block;
}

.login-button{
    width: 62px;
    height: 62px;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-button svg{
    fill: var(--white);
}

.login-button:disabled{
    cursor: auto;
    background-color: var(--white);
    border: 2px solid var(--light-grey);
}

.login-button:disabled svg{
    fill: var(--grey);
}

.login-link{
    text-decoration: none;
    font-size: 0.79em;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 700;
}

.wallpaper{
    width: 100%;
    background-size: cover;
    background-position: center;
    flex: 1;
}